.DS_Store
.vscode/
arachnePy/credentials.py
check_dmlw.py
config/
content/
dmlw.log
out.log
docs/restart_dmlw.py
static/.DS_Store
uptime.log
zettel/
update.py
tests/login_data.json
arachnePy/tests/login_data.json
arachnePy/upload_ocr_auto.py
docs/
MLW-Software/
temp/