.DS_Store
.vscode/
arachnePy/credentials.py
check_dmlw.py
config/accessCREATE.JSON
config/accessDELETE.JSON
config/accessREAD.JSON
config/accessUPDATE.JSON
config/localhost.ini
config/localhost.json
config/access.json
content/.DS_Store
content/scans/
dmlw.log
exampl.log
out.log
docs/restart_dmlw.py
static/.DS_Store
uptime.log
zettel/
update.py
tests/login_data.json
arachnePy/tests/login_data.json
arachnePy/upload_ocr_auto.py
docs
MLW-Software/
temp/
content/dom
content/tll
content/mlw