/* opera print */
@media screen {
    table.exportTable{
        display: none;
    }
}
@media print {
    aut{font-variant:small-caps}
    table.exportTable{
        font-size: 13pt;
        width: 100%;
        padding: 10px 5px;
        border-collapse: collapse;
    }
    table.exportTable td{
        padding: 5px 10px;
        vertical-align: top;
        text-align: left;
    }
    .c1{
        width: 11%;
    }
    .c2{
        border-left: 1px solid black;
        width: 11%;
    }
    .c3{
        border-left: 1px solid black;
        width: 26%;
    }
    .c4{
        border-left: 1px solid black;
        width: 26%;
        font-style: italic;
    }
    .c5{
        border-left: double;
        width: 26%;
        font-size: 80%;
    }

    .c1_min{
        width: 15%;
    }
    .c2_min{
        border-left: 1px solid black;
        width: 55%;
    }
    .c5_min{
        border-left: double;
        width: 30%;
        font-size: 80%;
    }
}
